  @media screen and (min-width: 1367px) and (max-width: 1920px) {
    .container {
      position:absolute;
      left: 17.5%;
      top: 2.5%;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1366px) {
    /* Estilos para telas com largura entre 1024px e 1366px */

      .container {
        position:absolute;
        left: 5%;
        top: 2.5%;  
    }
  }
