.logoContainer {
   
    position:absolute;
    left: 17.5%;
    right: 10%;
    top: 2.5%;
    bottom: 40.48%;

  }

  @media screen and (max-width: 1358px) {

    .logoContainer {
   
      position:absolute;
      left: 5%;
      right: 5%;
      top: 2.5%;
      bottom: 40.48%;
  
    }
    
}