@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.container{
  padding: 1rem;
}
.nav {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
width: 100%;
height:9.5vh;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.li a {
    text-decoration: none;
    padding: 1.5rem;
    
  }

.liArrow{
font-family: Inter, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #6B7280;
}

.arrow {
  vertical-align:bottom ;
  margin: 1vh;
}

.Link {
font-family: Inter, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #6B7280;

}


