@import url('https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap');


.container{
  padding-top: 3.125rem;
  padding-bottom: 1.563rem;
  display: flex;
  text-align: center;
  justify-content: center;
  
}

.Link {
  font-family: K2D,sans-serif;
  width: 62.5rem;
/* Headings/H2 */

font-style: normal;
font-weight: 500;
font-size: 3rem;
line-height: 1.4;
/* identical to box height, or 50px */
color: #000000;
}